{% extends 'layout.html' %}

{% block body %}

<div style="background-color: #000000;">
  <div class="text-center">
      <h1 class="text-white"><br>Menu</h1>
  </div>
  <br>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Flower</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Tangerine - S</li>
            <li>Lemon Meringue - S</li>
            <li>Lemon OG - S</li>
            <li>Chemdawg - S</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Concentrates</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Sour Tangie - S - Live Resin</li>
            <li>False Teeth - H - Live Resin</li>
            <li>THC Crystals</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Edibles</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Cake Pops - 100mg</li>
            <li>Chocolate - Candies 50mg</li>
            <li>Hard Candies - 50mg</li>
            <li>Rice Krispy Treats - 100mg</li>
          </ul>
        </div>
      </div>
    </div>
</div>

{% endblock %}
