{% extends 'layout.html' %}

{% block body %}
<div style="background-image: url(/home/singhn15/mysite/static/13H.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
  <div class="text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 class="text-warning">lorem ipsum</h1>
      <p class="text-white">lorem ipsum</p>
      <a class="btn btn-primary" href="/login"> Log In </a>&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/register"> Sign Up </a>
      <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
    <div class="row">
      <div class="col-sm">
        <h1 class="text-info text-center">lorem ipsum</h1>
        <p class="text-white text-center">lorem ipsum</p>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <h1 class="text-info text-center">lorem ipsum</h1>
        <p class="text-white text-center">lorem ipsum</p>
      </div>
    </div>
</div>

<div style="background-color: #000000;">
  <div class="text-center">
      <h1 class="text-white"><br>Lorem</h1>
  </div>
  <br>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">lorem ipsum</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">lorem ipsum</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>lorem ipsum - lorem ipsum</li>
            <li>lorem ipsum - lorem ipsum</li>
            <li>lorem ipsum - lorem ipsum</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">lorem ipsum</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>lorem ipsum - lorem ipsum - lorem ipsum</li>
            <li>lorem ipsum - lorem ipsum - lorem ipsum</li>
            <li>lorem ipsum - lorem ipsum - lorem ipsum</li>
            <li>lorem ipsum - lorem ipsum - lorem ipsum</li>
          </ul>
        </div>
      </div>
    </div>
</div>

{% endblock %}
